[Desktop Entry]
Name=OnlyOffice
Exec=/opt/onlyoffice/OnlyOffice.AppImage %U
Type=Application
Categories=Office;
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/msword;application/vnd.ms-excel;application/vnd.ms-powerpoint;
