[Desktop Entry]
Name=Jaringan
GenericName=Network
Comment=Atur Wi-Fi dan koneksi (nmtui)
Exec=kitty -e nmtui
Icon=network-wireless
Terminal=false
Type=Application
Categories=System;Settings;Network;
Keywords=wifi;network;internet;nmtui;
